<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zw">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:icon="@drawable/icon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        <activity android:name=".test.TestActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->

        <service android:name=".music.ZMusicService"
            android:enabled="true" android:exported="true"/>
        <service android:name=".music.servive.WidgetService"
            android:enabled="true" android:exported="true"/>
        <service android:name=".test.TestService"
            android:enabled="true" android:exported="true"/>

        <provider
            android:name=".test.MyContantProvider"
            android:authorities="com.zw.test" />

        <receiver android:name=".music.widget.MusicWidgetProvider"
            android:label="@string/app_name">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/music_widget_provider"/>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="playOrPause"/>
                <action android:name="playNext"/>
                <action android:name="playPrev"/>
            </intent-filter>

        </receiver>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
            -->
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
</manifest>